@inject SignInManager<AppUser> signInManager
@{
    Layout = "DefaultLayout";
    var stanjeKosarice = (int)ViewData["stanjeKosarice"];
    
}
@using WebApp_Apoteka.ViewModels;
@model LijekView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrikaziLijekove</title>
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myModal").modal('show');
        }
        );
    </script>
</head>
<body>
    <br /><br />
    <h3 class="text-success">Prikaz dostupnih lijekova</h3>
    <br />

    <table class="table table-bordered"style="        background-color: #2b731e;
        color: white;
       
        border-radius: 10px;
        border: 6px solid #2b731e;
        text-align: center;">

        <tr>

            <th>Naziv lijeka</th>

            <th>Farmaceutski oblik</th>
            <th> Kvalitativni i kvantitativni sastav</th>

            <th>Cijena (KM)</th>
            <th>Rok trajanja (izrazen u mjesecima)</th>

            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <th>Modifikacija podataka</th>
            }
        </tr>

        @foreach (var l in Model.podaci)
        {
            if (l.Kolicina > 0)
            {
                <tr style="background-color: #FAFAFA; color:#2b731e; text-align: center">

                    <td><a href="/Narudzba/PrikaziLijek?id=@l.LijekID">@l.NazivLijeka</a></td>

                    <td>@l.FarmaceutskiOblik</td>
                    <td>@l.KvalitativniIKvantitativniSastav</td>

                    <td>@l.ProdajnaCijena KM</td>
                    <td>@l.RokTrajanjaMjeseci</td>

                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <td>
                            <a href="/Lijek/Uklanjanje?id=@l.LijekID" style="text-decoration: none; height: 15px; background-color: #2b731e; color:white;
                border-radius: 10px;  border: 6px solid #2b731e;  text-align: center">Brisi</a>
                            <a href="/Lijek/DodajLijek?id=@l.LijekID" style="text-decoration: none; height: 15px; background-color: #2b731e; color:white;
                border-radius: 10px;  border: 6px solid #2b731e;  text-align: center">Uredi</a>

                        </td>
                    }
                </tr>
            }


        }
    </table>
    @if (stanjeKosarice > 0)
    {
        <a href="/Narudzba/PregledKosarice" class="btn btn-success">Pregledaj kosaricu</a>
      
    }
    @if (Model.postojeci)
    {
        <div class="container">

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-body">
                            <p>Lijek koji ste odabrali se već nalazi u vašoj košarici.  <a href="/Lijek/PrikaziLijekove" class="btn btn-success" data-dismiss="modal">Ok</a></p>
                          
                        </div>


                    </div>

                </div>
            </div>

        </div>


    }


</body>
</html>

