
@{
    Layout = null;
    var kolicina = 0;
    
}
@model LijekView
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrikaziLijek</title>
    <style>
       #form {
            max-width: 30%;
            background: #FAFAFA;
            padding: 10px;
            margin: 10px auto;
            box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
            border-radius: 10px;
            border: 6px solid #2b731e;
        }
       h5{
           font-family: Calibri;
           margin-top: -10px;
           color: #2b731e;
       }
       h4{
      
           font-family: Calibri;
           margin-bottom: -5px;
           font-size: 20px;
       }
       hr{
            border-color: #2b731e;
       }
       
    </style>
</head>
<body>
    
    <form action="/Narudzba/DodajUKosaricu" id="form">
        @foreach (var l in Model.podaci)
        {
            <input name="lijekID" value="@l.LijekID" hidden />
            <h4>@l.NazivLijeka</h4>
            <hr>
            <h5>Naziv lijeka</h5>
            <h4>@l.NacinPrimjene</h4>
            <hr>
            <h5>Nacin primjene</h5>
            <h4>@l.NazivKategorije</h4>
            <hr>
            <h5>Kategorija</h5>
            <h4>@l.NazivProizvodjaca</h4>
            <hr>
            <h5>Proizvodjac</h5>
            <h4>@l.RokTrajanjaMjeseci</h4>
            <hr>
            <h5>Rok trajanja (od dana kupovine)</h5>
            <h4>@l.ProdajnaCijena KM</h4>
            <hr>
            <h5>Prodajna cijena</h5>

            <input name="kolicina" type="number" style=" margin-bottom: 10px; width: 50%;
                 padding: 10px;
                    font-family: Calibri; font-size: 20px" />
            <h5>Unesite kolicinu</h5>
            <br />
        
            <input type="submit" value="Dodaj u kosaricu" style="background-color:#2b731e; color: #FAFAFA;  margin-bottom: 20px;
                width: 100%;
                padding: 10px;
                font-family: Calibri;
                font-size: medium; " />
        }

    </form>
</body>
</html>
